<h1>Sample Sinatra App</h1>
<p>
  Welcome!
</p>
<p>
  Click the <a href="https://en.wikipedia.org/wiki/Sator_Square">Sator
  Square</a> below to run the custom <a href="/palindrome">Palindrome
  Detector</a>.
</p>
<%= "The current time is: " + Time.now.strftime("%F %H:%M") %>
<a class="sator-square" href="/palindrome">
  <img src="/images/sator_square.jpg">
</a>